@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

@import "./extends";
@import "./variables";
@import "./mixin";

body {
  background-color: $color-fondo;
  font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 992px) {
  .nav-inicio {
    width: 100%;
  }
}

.section-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.carousel-1 {
  display: flex;
  justify-content: center;
  width: 100vw;
}

footer {
  margin-top: 7rem;
}

@media screen and (max-width: 990px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .section-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 880px) {
  .section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
  }
}

.logo-h1 {
  display: flex;
  justify-content: center;
  img {
    width: 500px;
  }
}

.formul {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
